.plants-flex {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 5px;
}

.card {
  display: inline-flex;
  padding: 24px;
  gap: 16px;
  border-radius: 12px;
  background: #fff;
  margin: 3px;
}

.img-overflow {
  position: relative;
  overflow: hidden;
  width: 280px;
  height: 188px;
  border-radius: 12px;
}

body {
  font-family: "Noto Sans Display", sans-serif;
  background-color: rgb(140, 177, 140);
}

header {
  color: rgb(22, 37, 34);
}

dd {
  color: #545454;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
